<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aa.xlambton">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" android:label="XLAMBTON"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUserActivity"
            android:label="New User"
            android:screenOrientation="nosensor" />
        <activity android:name=".MenuActivity"
            android:label="XLAMBTON"
            android:screenOrientation="nosensor" />
        <activity android:name=".AgentListActivity"
            android:label="Agent List"
            android:screenOrientation="nosensor" />
        <activity android:name=".AgentProfileActivity"
            android:label="Agent Profile"
            android:screenOrientation="nosensor" />
        <activity android:name=".MissionHistoricActivity"
            android:label="Historic"
            android:screenOrientation="nosensor" />
        <activity android:name=".AgentSearchActivity"
            android:label="Agent Search"
            android:screenOrientation="nosensor" />
        <activity android:name=".NewAgentActivity"
            android:label="New Agent"
            android:screenOrientation="nosensor" />
        <activity android:name=".MissionUpdateActivity"
            android:label="Mission Update"
            android:screenOrientation="nosensor" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>